#main{
  background-color: pink;
  width: 50%;
  text-align: center;
  border-radius: 20px;
}

section{
	width:50%; 
	height:60%;
	background:whitesmoke;
	padding-top:30px;
	padding-bottom:30px;}
p{
  font-size: 15px;
}



