@charset "UTF-8";
* {
       font-family: 'Gamja Flower', cursive;
}
.header-logo-link {
	text-decoration: none;
	color: pink;
}
.background {
	    background: whitesmoke;
	    padding-top: 30px;
	    text-align: center;

}
.login-list {
		margin-left:30px;
}
.login-list input {
		border: none;
		padding: 30px 10px 10px 10px;
		background: rgba(0, 0, 0, 0);
		border-bottom: 2px solid rgba(0, 0, 0, 0);
		transition: .5s border-bottom;
		color:black;
		font-size: 18px;
}
.list input[type=submit] {
    border: none;
    padding: 30px 10px 10px 10px;
    background: rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: .5s border-bottom;
    color:black;
    font-size: 18px;
}

.list input[type=submit]:hover {
    border-bottom: solid pink;
    color:pink;
}

.header-container {
    padding: 0 30px;
}

.header-container::before {
    display: block;
    content: " ";
    clear: both;
}

.header-container__logo {
    float: left;
}

.header-container__menu-container {
    float: right;
}

.logout {
    margin: 0px 20px 0px 20px;
    border-radius: 50rem;
    border: 2px solid transparent;
    border-color: pink;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: whitesmoke;
    color: pink;
    font-weight: bold;
 	font-size: 15px;
 }

.header-logo {
    float: left;
    margin-left: 20px;
    border-radius: 50rem;
    border-color: white;
    border: 1px solid transparent;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: white;
    color: pink;
    font-size: 35px;
}
.header-main {
	margin-bottom:120px;
}