@charset "UTF-8";
.contents{
	background-color: pink;
	width: 50%;
	text-align: center;
	border-radius: 20px;
	padding : 20px 10px 10px 10px;
	margin : 0 auto;
}
.contents:after {
	display: block;
	content: " ";
	clear: both;
}
.post-table{
	margin: 30px auto;
}
th {
	padding: 10px 15px;
	font-weight: bold;
	background-color: white;
    border-radius: 0.375rem;
	
}
.post-number, .post-user, .post-date {
	padding: 10px;
}
.post-title {
	padding: 10px 80px;
}
a{
	text-decoration: none;
	color: rgb(16, 82, 162)
}
td {
	border-bottom: 1.8px solid whitesmoke;
    
}
.contents input {
	background-color: white;
	border-radius: 50rem;
    border-color: white;
    border: 1px solid transparent;
    padding: 10px 40px 10px 40px;
    margin: 10px 0px;
    float:right;
}

.add input:hover, .add input:focus {
   background-color: white;
   color: pink;
}